.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    letter-spacing: .7px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.899);
}

.image{
    width: 100%;
    height: 300px;
    position: relative;
}

.card{
    position: relative;
    padding: 20px 30px;
    margin-top: -30px;
    background: rgb(242, 231, 231);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.item_left{
    width: fit-content;
    min-width: 80px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    letter-spacing: 1px;
    font-size: .7em;
    margin-right: 30px;
    padding: 0 20px;
    cursor: pointer;
}

.icon{
    margin-right: 5px;
}

.item i{
    font-weight: 300;
    cursor: pointer;
}

.item{
    display: flex;
    align-items: center;
    color: rgb(87, 87, 87);
    letter-spacing: 1px;
    font-size: .8em;
    margin-top: 20px;
    flex-direction: row-reverse;
}

.date span{
    color: rgb(21, 21, 21);
}

.date{
    margin-left: 30px;
}

.comment{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.comment span{
    font-size: 10px;
    margin: auto 0;
    margin-right: 10px;
    color:rgb(21, 21, 21);;
}


.title{
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 600;
    z-index: 1;
    position: relative;
    margin-bottom: 15px;
    line-height: 30px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    color: rgb(96, 96, 96);
}

.title:hover{
    color: #000;
}

.description{
    position: relative;
    z-index: 1;
    font-size: .9em;
    line-height: 20px;
    color: rgb(96, 96, 96);
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(218, 117, 117, 0.817);
}