.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "prompt", sans-serif;
}

.image{
    height: 250px;
    width: 100%;
    position: relative;
}

.card{
    width: 90%;
    height: 450px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 50px 25px 0px 25px;
    position: relative;
    z-index: 4; 
    margin-top: -100px;
}

@media (max-width: 800px) {  
    .image{
        height: 350px;
        width: 100%;
        position: relative;
    }   

    .card{
        height: fit-content;
        padding-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .image{
        height: 300px;
        width: 100%;
        position: relative;
    }      

    .card{
        margin-top: -150px;
    }
}

@media (max-width: 500px) {    

    .card{
        width: 100%;
        margin-top: -50px;
    }
}