.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    width: 90px;
    height: 30px;
    background-color: #000;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 1px;
    font-size: .8em;
    margin-right: 30px;
}

.body{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 40px;
    color: #fff;
    width: 1000px;
    cursor: pointer;
    font-family: 'prompt', sans-serif;
}

.title:hover{
    color: rgb(240, 240, 240);
}

.description{
    color: #fff;
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 1.3em;
    font-weight: 300;
    width: 600px;

    font-family: "prompt", sans-serif;
}

.btn{
    border: 1px solid rgb(233, 233, 233);
    background: rgb(249, 249, 255);
    padding: 0px 28px;
    border-radius: 5px;
    line-height: 38px;
    color: rgb(0, 0, 0);
    width: 140px;
    height: 50px;
    cursor: pointer;
}

.btn:hover{
    color: #fff;
    background-color: rgb(21, 21, 21);
}

@media (max-width: 1400px) {
    .title{
        font-size: 4.5em;
        width: auto;
    }
}

@media (max-width: 1000px) {
    .title{
        margin-bottom: 30px;
        font-size: 3.7em;
        width: auto;
    }

    .description{
        width: auto;
    }
}

@media (max-width: 800px) {
    .title{
        margin-bottom: 30px;
        line-height: 50px;
        font-size: 3em;
    }

    .description{
        font-size: 1.1em;
    }

    .btn{
        height: 45px;
    }

}

@media (max-width: 500px) {
    .title{
        margin-bottom: 20px;
        line-height: 50px;
        font-size: 2.2em;
    }

    .description{
        font-size: 16px;
    }

    .btn{
        height: 40px;
        font-size: 0.7em;
        width: 110px;
        padding: 0;
    }

}

@media (max-width: 400px) {
    .title{
        margin-bottom: 20px;
        line-height: 50px;
        font-size: 2.1em;
    }

    .description{
        font-size: 15px;
    }

}

