.container{
    width: 100%;
    margin: 0 auto;
    min-height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.image{
    height: 400px;
    width: 100%;
    position: relative;
}

.card{
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 50px 25px 40px 25px;
    position: relative;
    z-index: 3;
    margin-top: -150px;
}
