.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn,
.category{
    width: 90px;
    height: 35px;
    background-color: #000;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 1px;
    font-size: .8em;
    margin-right: 30px;
}

.category{
    margin-bottom: 20px;
}

.item{
    display: flex;
    align-items: center;
    color: rgb(87, 87, 87);
    letter-spacing: 1px;
    font-size: .8em;
}

.date span{
    color: rgb(21, 21, 21);
}

.date{
    margin-right: 30px;
}

.comment{
    display: flex;
    flex-direction: row;
}

.comment span{
    font-size: 10px;
    margin: auto 0;
    margin-right: 14px;
    color:rgb(21, 21, 21);;
}

.body{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    letter-spacing: 1.2px;
}

.description{
    color: rgb(0, 0, 0);
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
}

.btn{
    border: 1px solid rgb(233, 233, 233);
    background: rgb(249, 249, 255);
    padding: 0px 28px;
    border-radius: 5px;
    line-height: 38px;
    color: rgb(0, 0, 0);
    width: 140px;
    height: 45px;
    font-size: .8em;
    cursor: pointer;
}

.btn:hover{
    color: #fff;
    background-color: rgb(21, 21, 21);
}


@media (max-width: 1325px) {
    .title{
        font-size: 1.15em;
    }

    .description {
        font-size: 0.85em;
        line-height: 25px;
    }
}

@media (max-width: 1125px) {
    .title{
        font-size: 1em;
    }

    .description {
        font-size: 0.85em;
        line-height: 25px;
    }
}


@media (max-width: 800px) {

    .body{
        margin: 20px 0;
    }
}