.container{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
    font-family: "prompt", sans-serif;
}

.title {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.bar{
    margin: 0 20px;
    width: 1px;
    height: 40px;
    background: rgb(206, 206, 206);
}

.category{
    font-size: 1.1em;
    letter-spacing: 1.2px;
    font-weight: 400;
}

@media (max-width: 900px) {
    .title{
        font-size: 1.7em;
    }

    .category{
        font-size: 1.1em;
    }

    .bar{ 
        height: 30px;
    }
}

@media (max-width: 800px) {
    .container{
        display: none;
    }
}